.container {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.button {
  position: relative;
  z-index: 20;
  display: flex;
  padding: 0.5rem;
  border: 1px solid var(--text);
  background-color: var(--background);
  color: var(--text);
  font-family: "Roboto Mono", monospace;
  font-size: inherit;
  font-weight: 600;
  text-transform: capitalize;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.arrow_up {
  height: 1.5rem;
  width: 1.5rem;
  display: grid;
  place-content: center;
  margin-left: auto;
  transform-origin: center;
  transform: rotate(90deg);
}
.arrow_down {
  height: 1.5rem;
  width: 1.5rem;
  display: grid;
  place-content: center;
  margin-left: auto;
  transform-origin: center;
  transform: rotate(-90deg);
}

.description {
  position: relative;
  z-index: 10;
  border: 1px solid var(--text);
  border-top: none;
  padding: 1rem 0.5rem;
  animation: show 0.3s ease-in-out forwards;
  transform-origin: top;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

@keyframes show {
  from {
    transform: translatey(-100%);
  }
  to {
    transform: translatey(0);
  }
}
