@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;600&display=swap");

:root {
  --background: #000;
  --text: #0f0;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  color: var(--text);
  background-color: var(--background);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-weight: 600;
  text-align: center;
}
